* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Basier Circle", sans-serif;
}
header {
  width: 100%;
  height: 150px;
  border: solid black 1px;
  display: flex;
  /* debug */
}
/* -----------------------lato sx 1° */
.header-sx {
  height: 100px;
  width: 20%;
  /* debug */
  background-color: lightblue;
}
/* -----------------------lato sx 2° */
.header-sx-2 {
  height: 100px;
  width: 20%;
  /* debug */
  background-color: red;
}
/* -----------------------lato dx 3° */
.header-dx {
  height: 100px;
  width: 60%;
  /* debug */
  background-color: purple;
}


li {
  list-style-type: none;
  display:inline;
}
a {
  text-decoration: none;
}
/* creo una classe su <a> del Menu1 con una position:relative */
.block-menu-1 {
  position: relative;
}

/* assegno a .header-inter-1 un display:none per non visualizzarlo in pagina */
.header-inter-1 {
  height: 200px;
  width: 100px;
  background-color: red;
  position: absolute;
  display: none;
}
/* attivo l':hover come debug per vedere in pagina cosa succede */
/* inserisco i li della classe .header-dx in :hover con classe .header-inter-1 in display:block */
.header-dx li:hover .header-inter-1 {
  display:block;
}
